@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');
@import "tailwindcss";

:root {
  --background: var(--color-primary);
  --foreground: #ededed;
}

.test{
  color: #31323b;
  color: #3f3f53;
}

@theme {
  --color-primary: #31323b;
  --color-secondary: #3f3f53;
  --color-layout: #3f3f53;
  --color-content: #53556E;
  --font-family-primary: "JetBrains Mono", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer components {
  .label{
    background-color: var(--color-secondary);
    padding: 0.4rem 0.6rem;
    border-radius: 7px;
    font-size: 16px;
  }

  .folder-navegator li{
    display: flex;
    gap: 0.3rem;
    font-size: 0.8rem;
    align-items: center;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3A3B46;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-primary);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
